/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.reviews {
	position: relative;

}
.reviews__container {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.reviews__button {
	-ms-flex-item-align: end;
	    align-self: flex-end;
	margin-right: 30px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 340px;
	height: 60px;
	 background-color: transparent;
  border-radius: 18px;
border: 1.4px solid goldenrod;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 18px;
color: goldenrod;
outline: none;
}








.reviews__button:hover {
	cursor: pointer;
	opacity: 0.7;
}
.reviews__button span {
	color: white;
	margin-left: 5px;
}

.review {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow-x: scroll;
	margin-bottom: 50px;
	margin-top: 50px;
}
.developer-info__review {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 20px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	max-width: 310px;
	min-width: 220px;
	border-radius: 32px 18px 18px 31px;
	border: 1.4px solid goldenrod;
-webkit-box-sizing: border-box;
        box-sizing: border-box;

}

.review__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	
}

.review__names {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-left: 10px;

}
.review__link {
	font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: goldenrod;
opacity: 0.7;
opacity: 0.8;
margin-bottom: 10px;
}
.review__name {
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 18px;
color: #D3D3D4;
opacity: 0.8;
max-width: 150px;
overflow: hidden;
-o-text-overflow: ellipsis;
   text-overflow: ellipsis;
}
.review__text {
	white-space: normal;
	font-family: Rubik;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 18px;
color: rgba(240, 240, 240, 1);
max-width: 260px;
max-height: 200px;
overflow-y: scroll;
}

.review__data {
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
color: #D3D3D4;
opacity: 0.5;
background-image: url(image/info/data.svg);
background-repeat: no-repeat;
background-position: left center;
position: absolute;
bottom: 10px;
left: 20px;
}
.review__bottom {
	margin-bottom: -10px;
}

.no-active {
	visibility: hidden;
}