button {
  background: inherit;
  outline: none;
  border:none;
}
.button__lang {
  position: fixed;
  z-index: 999;
  top: 50px;
  left: 70px;
}

#lang {
  display: none;
}
#lang:checked ~ .rus,
#lang:not(:checked) ~ .eng {
  display: none;
}

label[for=lang] {
  -webkit-user-select: none;
          user-select: none;
  cursor: pointer;
}

.flex {
  display: flex;
}